nav{
   background-color: #000000;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   
}

.ini{
   
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 10%;
   margin-bottom: 100px;
}

.apre{
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
}

.image-container {
   height:auto;
   width: 10%;
   display: flex;
   justify-content: space-between;
 }
 
 .image-container img {
   margin: 5px;
 }

.cargo{
   font-size:100px;
   font-weight: bolder;
   line-height: 1;
   font-family: 'Roboto', sans-serif;
}
.texto-container {
   display: flex;
   justify-content: flex-end; /* Alinha o conteúdo à direita */
}
.texto{
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   justify-content:end;
}

.projetos{
   font-size:70px;
   font-weight: bolder;
   line-height: 1;
   font-family: 'Roboto', sans-serif;
}

.tituloProjeto{
   font-size:30px;
   font-weight: bolder;
   line-height: 1;
   font-family: 'Roboto', sans-serif;
   display: flex;
   justify-content: center;
}

.descricao{
   font-weight: bolder;
   line-height: 1;
   font-family: 'Roboto', sans-serif;
   display: flex;
   justify-content: center;
}

.container-projetos{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10%;
   padding-top: 2px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color:black;
    color:#000000;
}

.caroussel-inner img{
   max-width: 40%;
   height: auto;
}

.contato{
   padding-top: 15%;
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 100px;
}
.contato h5{
   color: #003298;
   font-size:30px;
   font-weight: bolder;
   line-height: 1;
   font-family: 'Roboto', sans-serif;
}

.contato input{
   justify-content: center;
   width: 250px;
   height: auto;
   border-radius: 10px;
}

.copy-container {
   display: flex;
   align-items: center;
}
.copy-input {
   
   padding: 5px;
   width: 200px;
}
.copy-button {
   margin-left: 10px;
   cursor: pointer;
   padding: 5px 10px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 4px;
}


/*.p{
   margin-top: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 10%;
}
*/

